@model IEnumerable<MyNutritionApp.Models.FoodModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Your food</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    Date
                </center>
            </th>
            <th>
                <center>
                    Name
                </center>
            </th>
            <th>
                <center>
                    Serving
                </center>
            </th>
            <th>
                <center>
                    Calories per serving
                </center>
            </th>
            <th>
                <center>
                    Total calories
                </center>
            </th>
            <th>
                <center>
                    Quantity
                </center>
            </th>
            <th>
                <center>
                    Protein
                </center>
            </th>
            <th>
                <center>
                    Carbohydrates
                </center>
            </th>
            <th>
                <center>
                    Fat
                </center>
            </th>
            <th>
                <center>
                    Fibre
                </center>
            </th>
            <th>
                <center>
                    Sugars
                </center>
            </th>
            <th>
                <center>
                    Sodium
                </center>
            </th>
            <th>
                <center>
                    Patassium
                </center>
            </th>
            <th>
                <center>
                    Cholesterol
                </center>
            </th>
            <th>
                <center>
                    Vitamin A
                </center>
            </th>
            <th>
                <center>
                    Vitamin C
                </center>
            </th>
            <th>
                <center>
                    Calcium
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Date)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Name)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Serving)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.CaloriesPerServing)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.TotalCalories)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Protein)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Carbohydrates)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Fat)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Fibre)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Sugars)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Sodium)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Potassium)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Cholesterol)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.VitaminA)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.VitaminC)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Calcium)
                </center>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
