@model MyNutritionApp.Models.UserProgress

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgressPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgressPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntensityOfThePlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntensityOfThePlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyVitaminA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyVitaminA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
