@model IEnumerable<My_Nutrition.Models.JournalModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Journal</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Thoughts)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Gratitudes)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Concerns)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Questions)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Date)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Thoughts)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Gratitudes)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Concerns)
                </center>
            </td>
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Questions)
                </center>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
