@model IEnumerable<My_Nutrition.Models.UserProgress>

@{
    ViewData["Title"] = "Index";
}

<h1>Your progress</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Date)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Weight)
                </center>
            </th>
            <th>
                <center>
                    Waist measurements
                </center>
            </th>
            <th>
                <center>
                    Arm measurements
                </center>
            </th>
            <th>
                <center>
                    Leg measurements
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Date)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.WaistMeasurements)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.ArmMeasurements)
                    </center>
                </td>
                <td>
                    <center>
                        @Html.DisplayFor(modelItem => item.LegMeasurements)
                    </center>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>

@if ( Model.Count()>=2) { 
<h3>Your progress from the beggining to now</h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                <center>
                    Time period
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.Weight)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.WaistMeasurements)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.ArmMeasurements)
                </center>
            </th>
            <th>
                <center>
                    @Html.DisplayNameFor(model => model.LegMeasurements)
                </center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <center>
                    @{
                        var days = Model.Last().Date - Model.First().Date;

                    }
                    @days.Days days
                </center>
            </td>
            <td>
                <center>
                    @{

                        var weight = Model.Last().Weight - Model.First().Weight;
                        char sign = '-';
                        if (weight == 0)
                        {
                            sign = ' ';
                        }
                        else if (weight > 0)
                        {
                            sign = '+';
                        }
                        else
                        {
                            weight = weight * (-1);
                        }
                    }
                    @sign @weight kg
                </center>
            </td>
            <td>
                <center>
                @{

                    var waist = Model.Last().WaistMeasurements - Model.First().WaistMeasurements;

                    if (waist == 0)
                    {
                        sign = ' ';
                    }
                    else if (waist > 0)
                    {
                        sign = '+';
                    }
                    else
                    {
                        waist = waist * (-1);
                        sign = '-';
                    }
                }
                @sign @waist cm
                </center>
            </td>
            <td>
                <center>
                    @{

                        var arm = Model.Last().ArmMeasurements - Model.First().ArmMeasurements;

                        if (arm == 0)
                        {
                            sign = ' ';
                        }
                        else if (arm > 0)
                        {
                            sign = '+';
                        }
                        else
                        {
                            arm = arm * (-1);
                            sign = '-';
                        }
                    }
                    @sign @arm cm
                </center>
            </td>
            <td>
                <center>
                    @{

                        var leg = Model.Last().LegMeasurements - Model.First().LegMeasurements;

                        if (leg == 0)
                        {
                            sign = ' ';
                        }
                        else if (leg > 0)
                        {
                            sign = '+';
                        }
                        else
                        {
                            leg = leg * (-1);
                            sign = '-';
                        }
                    }

                    @sign @leg cm
                </center>
            </td>
    </tbody>
</table>}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}